<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- FONT-AWESOME 5.10.0-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- VUE 2.6.12 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

     <!-- AXOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

  </head>
  <body>
    <div id="root">
      <div class="container">
        <header>
          <img src="img/netflix.png" alt="logo">
          <input type="text" name="" v-model='inputSearch'>
          <button type="button" @click='searchFilm' name="button">Cerca</button>
        </header>
        <div class="cds-container container">
          <div class="type">
            <h2>Film</h2>
          </div>
          <div class="card">
            <div class="cd" v-for='film in films'>
              <div class="poster">
                <img :src="pathImg + film.poster_path" @error="replaceByDefault">
              </div>
              <div class="none styleInfo">
                <h4>{{film.title}}</h4>
                <div>
                  <p>Titolo originale:</p>
                  <p>{{film.original_title}}</p>
                </div>
                <div class=lang>
                  <span class="lang first">Lingua:</span> <br>
                  <img :src="'img/'+ film.original_language +'.png'" @error="replaceByLangDefault">
                </div>
                <div>
                  <span class="first">Voto del publico:</span><br>
                  <span v-for="film in numStar(film.vote_average)"><i class="fas fa-star"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="type">
            <h2>Serie Tv</h2>
          </div>
          <div class="card">
            <div class="cd" v-for='tv in tvShows'>
              <div class="poster">
                <img :src="pathImg + tv.poster_path" @error="replaceByDefault">
              </div>
              <div class="none styleInfo">
                <h4>{{tv.original_name}}</h4>
                <div class="lang">
                  <p class="lang first">Lingua:</p>
                  <img :src="'img/'+ tv.original_language +'.png'" @error="replaceByLangDefault">
                </div>
                <div class="vote">
                  <span class="first">Voto del publico:</span><br>
                  <span v-for="tv in numStar(tv.vote_average)"><i class="fas fa-star"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
