<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- FONT-AWESOME 5.10.0-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- VUE 2.6.12 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

     <!-- AXOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

  </head>
  <body>
    <div id="root">
      <div class="container">
          <header>
            <img src="img/netflix.png" alt="logo" />
            <input type="text" name="" v-model='inputSearch'>
            <button type="button" @click='searchFilm' name="button">Cerca</button>
          </header>
        <div class="cds-container container">
          <div class="cd" v-for='film in films'>
            <img :src="path + film.poster_path" alt="">
            <h4>{{film.title}}</h4>
            <div>
              <span class="first">Titolo originale:</span>
              <span class="original_title">{{film.original_title}}</span>
            </div>
            <div>
              <span class="lang first">Lingua:</span>
              <span class="lang">{{film.original_language}}</span>
            </div>
            <div>
              <span class="first">Voto del publico:</span>
              <span class="year">{{film.vote_average}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- script -->
<script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
